.Logo {
    width: auto;
    height: 100px;
}

.logito {
    margin-top: 15px;
}

.centrado {
    margin-top: 15px;
}

.verde {
    background-color: #71dd37;
    border-radius: 100px;
}

.menu-link {}

.backspace {
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: justify;
}

.alignment {
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.img {
    margin-left: 5%;
    width: 20%;
}

.img2 {
    margin-left: -35%;
}

.img4 {
    margin-left: 13%;
}